* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2rem;
  color: #10b981;
}

input {
  width: 30%;
  font-size: 1.2rem;
  padding-inline: 0.6rem;
}
button {
  border: none;
  background-color: #10b981;
  color: #fff;
  font-weight: 700;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #10b999;
}

.drink-desc {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  gap: 1.2rem;
}

.alcohalic {
  font-size: 1.2rem;
  font-weight: 100;
  color: #777;
}

.details-btn {
  border: none;
  color: #fff;
  background-color: #10b981;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  max-width: fit-content;
}

.details-btn:hover {
  background-color: #10b98190;
}

.drink-details-section {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4.8rem;
  height: 100%;
  width: 100%;
  margin-top: 6.4rem;
  align-items: center;
  position: relative;
}

.drink-details-section figure {
  width: 50%;
  justify-self: end;
}

.drink-details-section img {
  width: 100%;
  height: 20rem;
  display: block;
}

.drink-details {
  display: grid;
  grid-template-columns: 1fr 9fr;
  column-gap: 3.2rem;
  row-gap: 1.2rem;
  align-content: center;
}

.drink-details-categ {
  font-size: 1.2rem;
  color: #6ee7b7;
  font-weight: 600;
}

.drink-details p {
  color: #555;
}

#back-btn {
  position: absolute;
  top: -4.8rem;
  left: 4.8rem;
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

#back-btn:hover {
  background-color: #6ee7b7;
}

.navigation-links {
  cursor: pointer;
  color: #444;
}

.navigation-links:hover,
.navigation-links.active {
  color: #10b981;
}

.about-section,
.newsletter-section {
  display: flex;
  max-width: 60%;
  margin: 4.8rem auto;
  font-size: 1.4rem;
  color: #555;
}
